@use "../../styles/partials/variables" as * ;
@use "../../styles/partials/mixins" as *;
.video{
    padding:0;
    width:100%;
    aspect-ratio: 18/9.7;
    margin-top:1rem;
    @include tablet{
        aspect-ratio: 18/9.3;
        height:38vh;
        background-color: $BrainFlix-DarkBlack;
        display: grid;
        place-items: center;   
    }
    @include desktop{
        aspect-ratio: 18/6.7;
       height:auto;
    }
    &__current{     
        width:100%;
        height:100%;
        object-fit:cover;
        @include tablet{
            width:91%;
            height:38vh;
            margin:0 auto; 
        }
        @include desktop{
            width:67%;
            //height:33vh;
            margin-top:0rem;
        }
    }
}