@use "./variables";
@mixin tablet{
    @media screen and (min-width:$tablet-breakpoint){
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width:$desktop-breakpoint){
        @content;
    }
}

@mixin details__divider{
    height:1px;
        width:100%;
        margin:1.3em auto 1rem auto;
        background-color:$Mercury;
}
