$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Sliver: #AFAFAF;
$White: #FFFFFF;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster:#FAFAFA;

$font-light: 100;
$font-normal: normal;
$font-bold: 700;

$font-size-75:0.75rem;
$font-size-78:0.78rem;
$font-size-80:0.8rem;
$font-size-85:0.85rem;
$font-size-90:0.9rem;
$font-size-150:1.5rem;
$font-size-200:2rem;
