$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Sliver: #AFAFAF;
$White: #FFFFFF;
$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster:#FAFAFA;

$font-light: 100;
$font-normal: normal;
$font-bold: 700;
