@import "../../styles/partials/variables" ;
@import "../../styles/partials/mixins";
.container{
    @include desktop{
        display:flex;
        flex-direction: column;
        width:57vw;
    }
}
.details{
    margin-top:-0.5rem;
    margin-left:1rem;
    @include tablet{
        margin-top:1.75rem;
        margin-left:2.25rem;
    }
    @include desktop{
        margin-top:0;
    }
    &__divider{
        @include details__divider;
        &--mobile{
            @include details__divider;
            @include tablet{
                visibility:hidden;
            }
        }
        &--desktop{
            @include details__divider;
            @include desktop{
                visibility:hidden;
            }
        }
        @include desktop{
            width:54.3vw;
        }
    }
    &__title{
        font-size:1.5rem;
        opacity: 80%;
        @include tablet{
            font-size:2rem;
        }
    }
    &__container{   
        display: flex;
        justify-content: flex-start;
        margin-bottom:-1rem;
        margin-top:-0.8rem;
            @include tablet{
                justify-content:space-between;
                margin-right:2.25rem;
                margin-top:-3rem;
                margin-bottom:-1.5rem;
            }
        &--author{
            font-size:0.8rem;
            font-weight:600;
            @include tablet{
                font-size:0.9rem;
            }
        }
        &--time{
            font-size:0.8rem;
            opacity:50%;
            @include tablet{
                font-size:0.9rem;
            }
        }
        &--left{
            width:50%;
            @include tablet{ 
                display:flex;
                justify-content: flex-start;
                gap:3rem;
                
             }
        }
        &--right{
            @include tablet{
                display:flex;
                gap:1.7rem;
            }
        }
        &--viewImage{
            width:1.3rem;
        }
        &--likeImage{
            width:1.1rem;
        }
        &--views,
        &--likes{
            opacity:50%;
            font-size:0.8rem;
            margin-left:0.5rem;
            @include tablet{
                font-size:0.9rem;
            }
        }
        &--up{
            display:flex;
            margin-bottom:-0.5rem;
            padding:0;
        }
        &--down{
            display:flex;
        }
    }
    &__descrip{
        font-size:0.78rem;
        margin-right:1rem;
        line-height: 1.47;
        @include tablet{
            font-size:0.9rem;
            line-height:1.4rem;
        }
        @include desktop{
            font-size:0.85rem;
        }
    }
}
.comments{
    margin-left:1rem;
    margin-top:1.5rem;
    display:flex;
    flex-direction: column;
    @include tablet{
        margin-left:2.25rem;
        margin:2.75rem 2.25rem 0 2.25rem;
    }
    &__title{
        font-size:0.8rem;
        font-weight:600; 
        @include tablet{
            margin-top:-0.1rem;
            font-size:0.9rem;
        }
    }
    &__form{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        gap:1rem;
        @include tablet{
            margin-bottom:1.8rem;
            justify-content: flex-start;;
        }
        &--left{
            margin-top:1.8rem;
        }
        &--right{
            @include tablet{
                display: flex;
            }
            @include desktop{
                width:47vw;
            }
        }
        &--content{
            width:calc(88vw - 2rem);
            margin-right:-1.2rem;
            @include tablet{
                width:65vw;
            }
        }
    }
    &__avatar{
        width:2.25rem;
        height:2.25rem;
        border-radius: 50%;
        margin-top:-0.4rem;
        background-color: $Mercury;
        @include tablet{
            width:2.5rem;
            height:2.5rem;
        }
    }
    &__input{
        width:90%;
        height:5rem;
        @include tablet{
            height:1.6rem;
            margin-top:0.2rem;
        }
    }
    &__label{
        font-size:0.8rem;
        font-weight: 600;
        opacity: 40%;
        line-height: 20px;
    }
    &__input{
        border-radius: 4px;
        border-color:$Mercury;
        background-color: $Alabaster;
        padding-top:0.5rem;
        font-size:0.75rem;
    }
    &__button{
        width: calc(82vw - 2rem); 
        margin-right:1rem;
        margin-top:0.8rem;
        height: 2.3rem;
        border-radius: 4px;
        color:$White;
        background-color:$BrainFlix-Blue;
        border:none;
        font-size:0.75rem;
        font-weight:bold;
        position:relative;
        &::before{
            content: ""; 
            background-image: url("../../assets/icons/add_comment.svg");
            background-size: contain; 
            width: 20px; 
            height: 20px; 
            position: absolute; 
            left: 10px; 
            top: 50%;
            transform: translateY(-50%);
        }
        @include tablet{
            margin-top:1.4rem;
            width: calc(25vw - 2.4rem); 
            margin-right:0;
        }
    }
    &__container{
        display:flex;
    }
    &__list{
        &--left{
            margin-top:1.3rem;
        }
        &--right{
            margin-right:1rem;
            margin-left:1rem;
            @include tablet{
                margin-top:1rem;
                margin-bottom:0.6rem;
            }
        }
        &--up{
            display:flex;
            justify-content: space-between;
            margin-top:-1rem;
        }
    }
    &__name{
        font-size:0.8rem;
        font-weight:600;
    }
    &__time{
        font-size:0.8rem;
        opacity: 40%;
    }
    &__comment{
        font-size:0.8rem;
        margin:-0.3rem 0;
        line-height: 17.5px;
        @include tablet{
            font-size:0.85rem;

            line-height:20px;
        }
    }
    
}   